<body>
 
  <div class="container">
    <div class="logo-container">
    <img src="../../favicon.ico" alt="">
    <h3>weatherApp</h3>
  </div>
    <input
      type="text"
      class="form-control cityInput"
      (input)="callCityApi($event)"
      (blur)="callCityApi($event)"
      placeholder="City Name..."
      appClickedOutside
      (clickedOutside)="handleChange()"
    />
    <div class="cityList-container">
    <div
      class="cityList"
      *ngFor="let city of cityData"
      (click)="selectSpecificCity(city.Key, city.EnglishName)"
    >
      {{ city.EnglishName }}, {{ city.AdministrativeArea.LocalizedName }},
      {{ city.AdministrativeArea.CountryID }}
    </div>
  </div>
  </div>
</body>
