/* You can add global styles to this file, and also import other style files */
:root{
    --dark-shadow:rgba(0,0,0,0.4);
    --black-color:#000;
    --white-color:#fff;
    --purple-color:#8b01a1;
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}